[submodule "core/pathogen"]
	path = core/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/zoomwin"]
	path = plugins/zoomwin
	url = https://github.com/regedarek/ZoomWin.git
[submodule "plugins/ctrlp"]
	path = plugins/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "plugins/fugitive"]
	path = plugins/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/tcomment"]
	path = plugins/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "langs/vim-cofee-script"]
	path = langs/vim-cofee-script
	url = https://github.com/kchmck/vim-coffee-script
